aiohttp
APScheduler==3.10.4
httpx==0.25.0
loguru==0.7.2
pandas==2.0.3
peewee==3.16.3
pymysql
numpy==1.26.4
pandas==2.0.3
pydantic==1.10.13
# pydantic_settings==2.0.3
pytz==2023.3
Requests==2.31.0
SQLAlchemy==1.4.49
starlette==0.31.1
openai==0.28
async_lru
requests==2.31.0
aiomysql==0.2.0
databases==0.8.0
greenlet
aioredis==2.0.1
redis
requests[socks]